site_name: Material for MkDocs
site_url: https://bruilofkado.kleijwegt.tech
site_author: Maarten Kleijwegt
site_description: >-
  De website met uitleg om het bruiloftskado te assembleren en te programmeren.

# Repository
repo_name: mjkl-gh/wedding-gift-for-guests
repo_url: https://github.com/mjkl-gh/wedding-gift-for-guests

# Copyright
copyright: Copyright &copy; 2016 - 2025 Maarten Kleijwegt

# Configuration
theme:
  name: material
  custom_dir: overrides/
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
